 @import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

        body {
              font-family: "Special Elite", system-ui;
            font-size: 10px;
            color: white;
            margin: 0;
            padding: 0;
        }

        img {
            width: 100%;
        }

        table {
            width: 150px; /* Set a fixed width */
            border: 2px outset #e8e9eb;
        }

        #live-now-image {
            width: 49px; /* Adjust the width as needed */
        }

        .marquee-container {
            width: 150px; /* Set the same fixed width */
            overflow: hidden;
            white-space: nowrap;
            box-sizing: border-box;
        }

        #trackinfo {
            display: inline-block;
            padding-left: 100%;
            animation: marquee 7s linear infinite;
        }

        @keyframes marquee {
            0% {
                transform: translate(0, 0);
            }
            100% {
                transform: translate(-100%, 0);
            }
        }

        #trackinfo-container {
            width: 140px; /* Set the same fixed width */
            overflow: hidden;
        }